
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <script>
        window.onscroll = () => {
            console.log("X ----------------------- "+ window.scrollX);
            console.log("Y ----------------------- "+ window.scrollY);
            if( window.innerHeight + window.scrollY >= document.body.offsetHeight){
                document.querySelector('body').style.background = 'green';
            }
            
            if( window.innerWidth + window.scrollX >= document.body.offsetWidth){
                document.querySelector('body').style.background = 'red';
            }
        }
    </script>
</head>
<body>

    <article data-theme="dark">
        <ul id="nav">
            <li><a href="" class="nav-link" data-page="first">First Page</a></li>
            <li><a href="" class="nav-link" data-page="second">Second Page</a></li>
            <li><a href="" class="nav-link" data-page="third">Third Page</a></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
            <li class="a 1"></li>
        </ul>
        <hr>
        <div id="body">
        </div>
    </article>
 

    <script src="/static/logica.js"></script>

</body>
</html>